<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>Live2D</title>
		<link rel="stylesheet" href="./src/style/index.css">
		<link rel="stylesheet" href="./src/libs/element-plus@2.2.12.css">

		<script type="text/javascript" src='./src/config/hotSprings.js'></script>
		<script type="text/javascript" src='./src/config/othersIcon.js'></script>
		<script type="text/javascript" src='./src/config/index.js'></script>
		<script type="text/javascript" src='./src/data/childs.js'></script>
		<script type="text/javascript" src='./src/data/cartas.js'></script>
		<script type="text/javascript" src='./src/data/dolls.js'></script>
		<script type="text/javascript" src='./src/data/slims.js'></script>
		<script type="text/javascript" src='./src/data/others.js'></script>
		<script type="text/javascript" src="./src/libs/vue.global.prod.v3.2.31.js"></script>
		<script type="text/javascript" src="./src/libs/element-plus@2.2.12.js"></script>
	</head>
	<body>
		<div id="app">
			<div v-if="footerType === '0'" class="content-wrap">
				<el-tabs v-model="activeStar" class="star-tab" @tab-click="tabClick($event, 'activeStar')">
					<el-tab-pane label="⭐⭐⭐⭐⭐⭐1." name="5"></el-tab-pane>
					<el-tab-pane label="⭐⭐⭐⭐⭐." name="4"></el-tab-pane>
					<el-tab-pane label="⭐⭐⭐1.." name="3"></el-tab-pane>
					<el-tab-pane label="⭐⭐1" name="2"></el-tab-pane>
					<el-tab-pane label="⭐." name="1"></el-tab-pane>
					<el-tab-pane label="未知" name="UNKNOWN"></el-tab-pane>
				</el-tabs>
				<el-tabs v-model="activeTab" class="attr-tab" @tab-click="tabClick($event, 'activeTab')">
					<el-tab-pane label="光属性" name="L"></el-tab-pane>
					<el-tab-pane label="暗属性" name="D"></el-tab-pane>
					<el-tab-pane label="火属性" name="F"></el-tab-pane>
					<el-tab-pane label="木属性" name="G"></el-tab-pane>
					<el-tab-pane label="水属性" name="W"></el-tab-pane>
				</el-tabs>
				<el-tabs v-model="activeType" class="attr-tab types-tab" @tab-click="tabClick($event, 'activeType')">
					<el-tab-pane label="防御型" name="F"></el-tab-pane>
					<el-tab-pane label="辅助型" name="S"></el-tab-pane>
					<el-tab-pane label="拘束型" name="J"></el-tab-pane>
					<el-tab-pane label="攻击型" name="G"></el-tab-pane>
					<el-tab-pane label="恢复型" name="H"></el-tab-pane>
				</el-tabs>
				<div class="avatar-wrap">
					<div v-if="ACTIVE_CHILDS_CODE_LIST === null" class="no-data-text">数据量过多，请先筛选！</div>
					<div v-else-if="!ACTIVE_CHILDS_CODE_LIST.length" class="no-data-text">暂无资源！</div>
					<template v-else>
						<div class="avatar-item-wrap" v-for="item in ACTIVE_CHILDS_CODE_LIST" @click="selectItem(item)">
							<img :src="`./src/static/${item.id}_01/icon.png`" :class="OTHERS_ICON_SRC[item.id] ? 'others-img' : ''">
							<span>{{item.name}}</span>
						</div>
					</template>
				</div>
				<div class="content-block"></div>
			</div>
			<div v-if="footerType === '1'" class="content-wrap">
				<el-tabs v-model="activeDollsStar" class="dolls-star-tab" @tab-click="tabClick($event, 'activeDollsStar')">
					<el-tab-pane label="橙色传说" name="5"></el-tab-pane>
					<el-tab-pane label="紫色史诗" name="4"></el-tab-pane>
					<el-tab-pane label="蓝色稀有" name="3"></el-tab-pane>
					<el-tab-pane label="绿色罕见" name="2"></el-tab-pane>
					<el-tab-pane label="白色普通" name="1"></el-tab-pane>
					<el-tab-pane label="未知" name="UNKNOWN"></el-tab-pane>
				</el-tabs>
				<el-tabs v-model="activeDollsTab" class="attr-tab" @tab-click="tabClick($event, 'activeDollsTab')">
					<el-tab-pane label="光属性" name="L"></el-tab-pane>
					<el-tab-pane label="暗属性" name="D"></el-tab-pane>
					<el-tab-pane label="火属性" name="F"></el-tab-pane>
					<el-tab-pane label="木属性" name="G"></el-tab-pane>
					<el-tab-pane label="水属性" name="W"></el-tab-pane>
				</el-tabs>
				<div class="avatar-wrap" style="padding-top: 12px;">
					<div class="avatar-item-wrap" v-for="item in ACTIVE_DOLLS_CODE_LIST" @click="selectItem(item)">
						<img class="others-img" :src="`./src/images/dolls/${item.id}_${Object.keys(item.variants)[0]}.png`">
						<span>{{item.name}}</span>
					</div>
					<div v-if="!ACTIVE_DOLLS_CODE_LIST.length" class="no-data-text">暂无资源！</div>
				</div>
				<div class="content-block"></div>
			</div>
			<div v-if="footerType === '2'" class="content-wrap">
				<div class="avatar-wrap" style="padding-top: 12px;">
					<div class="avatar-item-wrap" v-for="(item, key) in CARTAS_CODE_MAP" @click="selectItem(item, key)">
						<img :src="`./src/static/${key}_01/icon.png`">
						<span>{{item.variants['01'].title}}</span>
					</div>
				</div>
				<div class="content-block"></div>
			</div>
			<div v-if="footerType === '3'" class="content-wrap">
				<div class="avatar-wrap" style="padding-top: 12px;">
					<div class="avatar-item-wrap" v-for="(item, key) in SLIMS_CODE_MAP" @click="selectItem(item)">
						<img class="others-img" :src="`./src/static/${item.id}_01/icon.png`">
						<span>{{item.name}}</span>
					</div>
				</div>
				<div class="content-block"></div>
			</div>
			<div v-if="footerType === '4'" class="content-wrap">
				<div class="avatar-wrap" style="padding-top: 12px;">
					<div class="avatar-item-wrap" v-for="(item, key) in OTHERS_CODE_MAP" @click="selectItem(item)">
						<img :src="`./src/static/${item.id}_01/icon.png`" :class="OTHERS_ICON_SRC[item.id] ? 'others-img' : ''">
						<span>{{item.name}}</span>
					</div>
				</div>
				<div class="content-block"></div>
			</div>
			<div class="footer-tab">
				<div class="footer-tab-item" 
					v-for="item in FOOTER_CONFIG"
					@click="footerType = item.id" 
					:class="footerType === item.id ? 'selected' : ''">
					<img :src="`./src/images/icon/${item.icon}`">
					<span>{{item.name}}</span>
				</div>
			</div>
			<el-drawer v-model="showDrawer" :with-header="false" :size="`${viewSize}%`">
				<el-select v-if="selectionNum > 1" 
					style="position: absolute; width: 200px; left: 24px; top: 16px; transition: all linear .1s;"
					:style="isFullScreen ? { left: '-240px' } : {}"
					v-model="selectedVariantId" @change="changeVariants">
					<el-option v-for="item in selectedChildConfig.variants"
						:key="item.id"
						:value="item.id"
						:label="CODE_MAP[item.id] || item.title || 'No-Name'">
					</el-option>
					<el-option value="s" label="温泉" v-if="HOT_SPRING_MAP[`s${selectedChildId}`]"></el-option>
				</el-select>
				<div class="close-btn" @click="closeDrawer"></div>
				<div class="full-screen-btn" :style="isFullScreen ? { right: '-50px' } : {}" @click="isFullScreen = true"></div>
				<div class="url-link" :style="isFullScreen ? { left: '-100px' } : {}">
					Author: <a target="_blank" href="https://github.com/Mobbbb/DCLive2D">Mob</a><br>
				</div>
				<iframe src="./src/views/canvas.html" frameborder="0" scrolling="no" :style="iframeStyle"></iframe>
				<div v-if="IS_DEBUG">
					名称：<el-input v-model="editInput.name"></el-input><br /><br />
					属性：<br />
					<el-button @click="editInput.type = 'G'" :type="editInput.type === 'G' ? 'success' : ''">攻击型</el-button>
					<el-button @click="editInput.type = 'F'" :type="editInput.type === 'F' ? 'success' : ''">防御型</el-button>
					<el-button @click="editInput.type = 'H'" :type="editInput.type === 'H' ? 'success' : ''">恢复型</el-button>
					<el-button @click="editInput.type = 'J'" :type="editInput.type === 'J' ? 'success' : ''">拘束型</el-button>
					<el-button @click="editInput.type = 'S'" :type="editInput.type === 'S' ? 'success' : ''">辅助型</el-button><br />
					<el-button @click="saveInputChange">保存</el-button><br /><br /><br /><br />
				</div>
			</el-drawer>
		</div>
	</body>
</html>
<script src='./src/main.js'></script>
