<!DOCTYPE html>
<html>
	<head>
		<title>Live2D</title>
		<link rel="stylesheet" href="../style/index.css">
		<script src='../libs/live2d.min.js'></script>
		<script src='../js/Live2DFramework.js'></script>
		<script src='../js/PlatformManager.js'></script>
		<script src='../js/ModelSettingJson.js'></script>
		<script src='../js/destinychild.2d.js'></script>
	</head>
	<body style="position: relative;">
		<canvas id="canvas" onclick="animation()"></canvas>
		<div class="canvas-bg"></div>
	</body>
</html>
<!-- <script src="../script/getCanvas.js"></script> -->
<script>
	const searchParams = (new URL(window.location.href)).searchParams
	const code = searchParams.get('code') || ''

	let initPanzoom = localStorage.getItem(`${code}_panzoom`)

	if (initPanzoom) {
		initPanzoom = JSON.parse(initPanzoom)
	} else {
		initPanzoom = {}
	}

	const { x = 0, y = 0, scale = 0.5 } = initPanzoom

	initModel(code, scale, x, y)

	document.addEventListener('keydown', function(e) {
		if (e.keyCode == 27) {
			parent.App.config.globalProperties.$closeIframe()
		}
	})
</script>
