<!DOCTYPE html>
<html>
	<head>
		<title>Live2D</title>
		<link rel="stylesheet" href="../style/index.css">
		<script src='../libs/live2d.min.js'></script>
		<script src='../js/Live2DFramework.js'></script>
		<script src='../js/PlatformManager.js'></script>
		<script src='../js/ModelSettingJson.js'></script>
		<script src='../js/destinychild.2d.js'></script>
		<script src='../libs/panzoom.min.v9.4.0.js'></script>
	</head>
	<body>
		<div class="canvas-wrap" id="canvasWrap">
			<canvas id="canvas" class="maxwidth" onclick="animation()"></canvas>
		</div>
		<div class="canvas-bg"></div>
	</body>
</html>
<!-- <script src="../script/getCanvas.js"></script> -->
<script>
	let searchParams = (new URL(window.location.href)).searchParams
	let code = searchParams.get('code') || ''
	let size = searchParams.get('size') || 1000
	let scale = searchParams.get('scale') || 1

	initModel(code, size, scale)

	panzoom(document.querySelector('#canvasWrap'), {
		maxZoom: 4,
		minZoom: 0.5,
		bounds: true,
		boundsPadding: 0.4,
		zoom: 4,
	})

	document.addEventListener('keydown', function(e) {
		if (e.keyCode == 27) {
			parent.App.config.globalProperties.$closeIframe()
		}
	})
</script>
