:root {
    --base-background-color: #393e46;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: var(--base-background-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--base-background-color);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--base-background-color);
    border-radius: 10px;
    background-color: var(--base-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: rgba(255, 255, 255, 0.5)
}

.el-drawer {
    transition: all .2s!important;
}
.el-drawer__body {
    background-color: #f5f5f5!important;
    padding: 0!important;
}
.el-tabs__nav-wrap .el-tabs__nav {
    margin-left: 12px;
}
.el-tabs__nav-wrap.is-scrollable .el-tabs__nav {
    margin-left: 0;
}

#app {
    height: 100%;
    width: 100%;
}

iframe {
    width: 500px; 
    height: 500px; 
    max-width: 100%; 
    border: none; 
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-left: 0!important;
}

canvas {
    position: absolute;
}

@keyframes animation {
    0% {
        left: 0;
        top: 0;
    }
  
    100% {
        left: -256px;
        top: -256px;
    }
}
.canvas-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: #444c56; */
    animation: animation linear 20s infinite;
    background-image: url('../images/background/bg_256_02.webp');
    width: calc(100% + 256px);
    height: calc(100% + 256px);
    z-index: -1;
}
.close-btn {
    width: 32px;
    height: 32px;
    background: url('../images/icon/close-icon.png');
    background-size: 100% 100%;
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
}
.full-screen-btn {
    width: 32px;
    height: 32px;
    background: url('../images/icon/full-screen-icon.png');
    background-size: 100% 100%;
    position: absolute;
    top: 54px;
    right: 24px;
    cursor: pointer;
    transition: all linear .1s;
}

.avatar-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
}
.avatar-item-wrap {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    margin: 0 8px 8px 0;
    cursor: pointer;
}
.avatar-item-wrap img {
    display: block;
    width: 68px;
}
.avatar-item-wrap .others-img {
    width: 58px;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 1px 1px 3px rgba(0, 0 , 0, 0.85);
    margin-bottom: 4px;
    margin-top: 3px;
}
.avatar-item-wrap .default-img {
    background: #444c56;
}
.avatar-item-wrap span {
    display: block;
    width: 68px;
    color: #fff;
}

.content-wrap {
    height: 100%;
    overflow: auto;
}
.content-block { 
    height: 64px;
}
.footer-tab {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 64px;
    width: 100%;
    justify-content: center;
}
.footer-tab-item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #f3b219;
    font-weight: bold;
    text-align: center;
    width: 40px;
    margin: 0 12px;
    cursor: pointer;
    position: relative;
}
.footer-tab-item.selected {
    color: white;
}
.footer-tab-item.selected::before {
    content: '';
    height: 100%;
    width: calc(100% + 24px);
    position: absolute;
    left: -12px;
    top: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255,205,0,1) 0%, rgba(255,205,0,0.3) 40%, rgba(255,205,0,0) 70%);
}
.footer-tab-item img {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 4px;
}

.attr-tab .el-tabs__item, .dolls-star-tab .el-tabs__item {
    position: relative;
    padding-left: 25px!important;
    transition: all ease .2s;
    color: #f3b219;
    font-weight: bold;
}
.attr-tab .el-tabs__item.is-active, .dolls-star-tab .el-tabs__item.is-active {
    color: white;
    background: linear-gradient(0deg, rgba(255,205,0,1) 0%, rgba(255,205,0,0.3) 40%, rgba(255,205,0,0) 95%);
}
.attr-tab .el-tabs__item:hover, .dolls-star-tab .el-tabs__item:hover {
    color: white;
}
.el-tabs__active-bar {
    background-color: transparent!important;
}
.el-tabs__nav-wrap::after {
    background-color: var(--base-background-color)!important;
    border-bottom: 2px dashed #f3b219;
    left: 8px!important;
    right: 8px!important;
    width: unset!important;
    z-index: 5!important;
}
.attr-tab .el-tabs__item {
    padding-left: 35px!important;
}
.attr-tab .el-tabs__item:last-of-type, .dolls-star-tab .el-tabs__item:last-of-type {
    padding: 0 20px 0 20px!important;
}
.attr-tab .el-tabs__item:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 8px;
    background: url('../images/icon/attributes.webp');
}
.attr-tab .el-tabs__item:nth-of-type(2):before {
    background-position: 0 25px;
}
.attr-tab .el-tabs__item:nth-of-type(3):before {
    background-position: 0 75px;
}
.attr-tab .el-tabs__item:nth-of-type(4):before {
    background-position: 0 100px;
}
.attr-tab .el-tabs__item:nth-of-type(5):before {
    background-position: 0 125px;
}
.attr-tab .el-tabs__item:nth-of-type(6):before {
    background-position: 0 50px;
}
.attr-tab .el-tabs__item:last-of-type:before {
    background: none;
}

.star-tab .el-tabs__item {
    position: relative;
    color: transparent!important;
}
.star-tab .el-tabs__item.is-active {
    background: linear-gradient(0deg, rgba(255,205,0,1) 0%, rgba(255,205,0,0.3) 40%, rgba(255,205,0,0) 70%);
}
.star-tab .el-tabs__item:before {
    content: '';
    position: absolute;
    width: 125px;
    height: 25px;
    left: 20px;
    top: 8px;
    background: url('../images/icon/stars.webp');
}
.star-tab .el-tabs__item:nth-of-type(2):before {
    left: 10px;
    background-position: 0 24px;
}
.star-tab .el-tabs__item:nth-of-type(3):before {
    background-position: 0 50px;
}
.star-tab .el-tabs__item:nth-of-type(4):before {
    background-position: 0 75px;
}
.star-tab .el-tabs__item:nth-of-type(5):before {
    background-position: 0 100px;
}
.star-tab .el-tabs__item:nth-of-type(6):before {
    left: 11px;
    background-position: 0 125px;
}